@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

* ::-webkit-scrollbar {
	width: 3px;
}

* ::-webkit-scrollbar-track{
	background: none;
}

* ::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: gray;
	border: 0px;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #D9D9D9;
}

header{
	position: sticky;
	top: 0px;
	z-index: 2;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: #2D5E38;
	color: white;
	padding: 0px 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

nav .menu-hamb{
	display: none;
}

nav .search{
	border-radius: 5px;
	padding: 10px;
	background-color: whitesmoke;
	text-decoration-color: none;
	border-style: none;
	outline-style: none;
}

nav .menu{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

nav .btn-menu{
	display: flex;
	align-items: center;
	padding: 0px 30px;
	height: 100%;
}
nav .btn-menu:hover{
	opacity: 80%;
}

nav .menu-active{
	border-bottom: solid 4px #922569;
}

nav .opcoes{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: auto;
}

nav .btn-options{
	display: flex;
	align-items: center;
	padding: 0px 30px;
	height: 100%;
	width: 100%;
}
nav .btn-options:hover{
	opacity: 80%;
}

nav .btn-options img{
	width: 28px;
	opacity: 90%;
}
nav .btn-options img:hover{
	cursor: pointer;
}

nav .theme{
	position: relative;
	height: 20px;
	border-radius: 21px;
	background-color: #059FD1;
	max-width: 60px;
	transition: all ease .9s;
}
nav .theme:hover{
	cursor: pointer;
	opacity: 90%;
}

nav .theme img{
	position: absolute;
	transition: all ease .7s;
}


main{
	border-radius: 20px;
	height: 100%;
}


main .container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 20px;
	padding-bottom: 0px;
	max-width: 100%;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

main .mobile-cards{
	display: none;
}

main .cards{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	opacity: 0;
	width: 100%;
	padding: 30px;
	border-radius: 20px 20px 10px 10px;
	border: solid 1px #922569;
}

main .cards img{
	margin: 0px 20px;
	max-width: 200px;
	min-width: 70px;
	box-shadow: 0px 0px 8px 4px #00000040;
	border-radius: 20px;
}

main .legend{
	z-index: 1;
	position: absolute;
	place-self: flex-start;
	text-align: left;
	margin: 5px 15px;
	color: grey;
}


main .navigation{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	accent-color: #922569;
	text-decoration-line: none;
}

main .navigation input{
	padding: 20px;
	width: 100px;
	height: 20px;
	opacity: 60%;
}

main .arrow{
	z-index: 1;
	width: 100%;
	text-align: center;
	height: 100%;
	padding: 10px;
}
main .arrow:hover{
	cursor: pointer;
}

main .arrow img{
	height: 16px;
}

main .medium{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	max-height: 400px;
	padding: 30px;
	overflow: auto;
}

main .medium-card{
	display: flex;
	width: 100%;
	height: 100px;
	margin: 5px;
	font-size: 20px;
	border-radius: 20px;
	color: white;
	background-color: #373839;
	opacity: 98%;
	box-shadow: 0px 0px 6px 2px #00000040;
}

main .medium-card:hover, .medium-card p:hover{
	opacity: 80%;
	cursor: pointer;
}

main .logo{
	position: relative;
	max-width: 10%;
	overflow: hidden;

}

main .logo img{
	position: absolute;
	top: 0px;
	left: -5px;
	margin: 0px;
	box-shadow: none;
	max-width: 100%;
	height: 100%;
}

main .pad{
	padding: 10px;
}

main .list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}

main .small-card{
	display: flex;
	border-radius: 10px;
	color: white;
	background-color: #85878B;
	width: 180px;
	height: 80px;
	overflow: auto;
}

main .card-title{
	width: 60%;
	height: 100%;
	padding: 10px;
	font-size: 14px;
	border-radius: 10px 0px 0px 10px;
}

main .card-description{
	width: 100%;
	padding: 10px;
	opacity: 95%;
	font-size: 12px;
	border-radius: 0px 10px 10px 0px;
}



@media (max-width: 1000px) {
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		cursor: default;
	}

	* ::-webkit-scrollbar {
		width: 3px;
		height: 2px;
	}

	* ::-webkit-scrollbar-track{
		background: none;
	}

	* ::-webkit-scrollbar-thumb {
		border-radius: 12px;
		background-color: #922569;
		border: 0px;
	}

	body{
	}

	nav .menu-hamb{
		display: flex;
		position: relative;
	}
	nav .menu-hamb img{
		max-width: 28px;
	}

	nav .search{
		margin: 0px 20px;
	}

	nav .menu, nav .opcoes{
		display: none;
	}

	nav .theme{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: auto;
		position: relative;
		height: 20px;
		border-radius: 21px;
		background-color: #059FD1;
		transition: all ease .9s;
	}

	main{
		width: 100%;
	}

	main .desktop{
		display: none;
	}

	main .container{
		position: relative;
		width: 100%;
		margin: 10px 0px;
		transition: all ease 1s;
	}

	main .cards{
		position: relative;
		border: none !important;
		overflow: scroll;
		justify-content: flex-start;
		padding: 30px 5px;
	}

	main .cards img{
		width: 100%;
		border-radius: 10px;
		margin: 0px 5px;
		box-shadow: 0px 0px 6px 2px #00000040;
	}


	main .mobile-cards{
		display: flex;
	}

	

	main .nextcard-mobile{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		width: 15%;
		right: 0px;
		margin: 0px 5px;
	}

	main .nextcard-mobile img{
		box-shadow: none;
		max-height: 20%;
		padding: 15%;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, .20);
		z-index: 1;
	}

	main .prevcard-mobile{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		width: 15%;
		left: 0px;
		z-index: 1;
	}

	main .prevcard-mobile img{
		box-shadow: none;
		max-height: 20%;
		padding: 15%;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, .20);
		z-index: 1;
	}

	main .list{
		justify-content: center;
		gap: 8px;
		padding: 30px 0px;
	}
	main .medium img{
		max-width: 100px;
	}

	main .logo{
		min-width: 100px;
	}

	main .small-card{
		width: 170px;
		padding: 0px;

	}
	main .card-title{
		font-size: 12px;
		padding: 10px 0px 10px 10px;
	}

	main .card-description{
		font-size: 12px;
		padding: 10px 10px 10px 10px;
	}
}

@media (max-width: 370px){
	main .small-card{
		width: 100%;
	}
}


@media (orientation: landscape) {
	main .cards img{
		min-width: 20%;
	}
}